﻿body {
  margin: 0px; 
  padding: 0px;
  background-image: url(images/grey_wash_wall.png);
  background-repeat: repeat;
}
.page-splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: 0.2;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.page-splash-message {
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 500%;  
    font-weight: normal;
    -webkit-text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-family: 'Molle', cursive;
    color: #000025;
    padding: 0;
}
.page-progress-bar {
    margin: 10% 30% 0 30%;
}